    /* main placeholder */
    main {
      min-height: 70vh;
    }

    .contact-icon {
      width: 16px;
      height: 16px;
      vertical-align: middle;
      object-fit: contain;
    }

    /* resume section */
    .container {
      max-width: 800px;
      margin: 40px auto;
      background: white;
      padding: 20px 30px;
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }

    .container h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    .grid-2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }

    .input-group {
      display: flex;
      flex-direction: column;
    }

    .input-group label {
      font-weight: bold;
      margin-bottom: 5px;
    }

    .input-group small {
      color: gray;
      margin-bottom: 5px;
    }

    .container input,
    .container textarea {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 14px;
      width: 100%;
      height: 20px;
    }

    .container textarea {
      height: 120px;
      resize: none;
    }


    main h1 {
      text-align: center;
      margin-top: 40px;
      margin-bottom: 10px;
    }

    .section-subtitle {
      display: block;
      text-align: center;
      margin-bottom: 60px;
      color: gray;
      line-height: 1.6;
    }

    main h3 {
      text-align: center;
      margin-top: 40px;
      margin-bottom: 10px;
    }

    .resume-section {
      margin-top: 20px;
    }

    .resume-header {
      max-width: 850px;
      margin: 0 auto 10px auto;
      padding-left: 20px;
    }

    .resume-title-row {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .resume-title-row h3 {
      margin: 0;
      font-weight: 700;
    }

    .resume-icon {
      width: 26px;
      height: 26px;
    }

    .map-sub {
      display: block;
      margin-top: 3px;
      color: #555;
    }

    .sub-info {
      display: block;
      text-align: center;
      font-style: italic;
      color: gray;
      margin-bottom: 20px;
      line-height: 1.5;
    }

    .resume-container {
      text-align: center;
      margin: 20px auto;
      max-width: 850px;
    }

    .resume-container img {
      max-width: 100%;
      height: auto;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .btn-style {
      display: block;
      color: gray;
      line-height: 1.7;
      text-align: center;
      margin: 25px auto;
      max-width: 850px;
      padding: 0 20px;
      margin-bottom: 50px;
    }

    .file-btn {
      /* This margin-top: auto pushes the button to the bottom */
      margin-top: auto;
      align-self: flex-start;
      /* Keeps button size natural, not full width */

      background: #007bff;
      color: white;
      padding: 10px 18px;
      border-radius: 6px;
      font-weight: 600;
      transition: 0.3s;
      box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    }

    .file-btn:hover {
      background: #f97316;
    }