    main {
      min-height: 70vh;
    }

    /* about us section */
    .about-section {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 50px 20px;
      text-align: center;
    }

    .about-section h2 {
      font-size: 32px;
      margin-bottom: 20px;
      font-weight: 600;
    }

    .about-section .about-text {
      margin-bottom: 50px;
    }

    .about-text {
      max-width: 900px;
      margin: 0 auto 20px;
      line-height: 1.7;
      font-size: 15px;
      color: #444;
    }

    .card {
      padding: 25px;
      border-radius: 16px;
      box-shadow: 0 3px 15px rgba(0, 0, 0, 0.06);
      text-align: center;
    }

    .card h3 {
      margin-top: 15px;
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: 600;
    }

    .card p {
      font-size: 14px;
      line-height: 1.6;
      color: #555;
    }

    .icon-box {
      width: 60px;
      height: 60px;
      border-radius: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto 12px;
      padding: 10px;
    }

    .icon-box img {
      width: 55%;
      height: 55%;
      object-fit: contain;
    }

    .MVG-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 25px;
      margin-top: 40px;
    }

    .mission {
      background: rgba(196, 238, 217, 0.135);
      border: 2px solid #C4EED9;
    }

    .mission .icon-box {
      background: #C4EED9;
    }

    .vision {
      background: rgba(246, 250, 254);
      border: 2px solid #dfedfa;
    }

    .vision .icon-box {
      background: #9dcdfe;
    }

    .goal {
      background: rgba(196, 238, 217, 0.135);
      border: 2px solid #C4EED9;
    }

    .goal .icon-box {
      background: #C4EED9;
    }

    /*Media quaeery for responsive design*/
    @media (max-width: 600px) {
      .about-section .MVG-container {
        grid-template-columns: 1fr;
      }
    }